/* 
  css class which spaces child elements horizontally using flexbox. 
  wraps around the columns.
*/
.col-flex-container {
    display: flex;
    
    /* flex direction is row by default, so don't need next line */
    /* flex-direction: row; */
     
    /* 
      This makes the three columns evenly spaced horizontally 
      You could also try space-around or space-evenly and see what looks best.
    */
    justify-content: space-evenly;
  }
  
  /* 
    class for each of the columns. 
    centers the elements in each column
    not strictly necessary
    */
  .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-wrap: break-word;
    padding-left: 1em;
    padding-right: 1em;
  }

  .column p + ul{
    margin: 0px;
  }

.remark-inline-code{
  background: #E0E0E0;
  padding: 2px;
  color: #000000;
  border-radius: 3px;
}
  
.remark-code{
  border-radius: 10px;
}