---
---

@import "{{ site.theme }}";

body {
    font: 16px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#000000;
    font-weight:400;
  }

header img {
  margin-bottom: 50px;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
  justify-content: right;
  gap: 2vw;
}