---
---

@import "{{ site.theme }}";

* {
  box-sizing: border-box;
}

body {
    font: 16px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#000000;
    font-weight:400;
  }

header img {
  margin-bottom: 50px;
}

.navbar {
  display: flex;
  width: 860px;
  padding: 25px 25px;
  justify-content: right;
  position: fixed;
  top: 0px;
  z-index: 2; // Stay on top
  background-color: rgb(225, 242, 255);
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
  gap: 2vw;
}

.navbar li {
  font-size: 18px;
  white-space: nowrap;
}

.navbar .navbar-dropdown {
  display: none;
  position: absolute;
  background-color: rgb(219, 219, 219);
  min-width: 160px;
  padding: 12px 16px;
}

.navbar .navbar-btn:hover .navbar-dropdown {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.main-container {
  position: relative;
  margin-top: 74px;
}

@media print, screen and (max-width: 960px) {


  .downloads {
    float:none;
    position:static;
    width:auto;
  }
}