.ggplot2-title {
  background-image: url(https://tim9800.github.io/r_workshop_2024/img/ggplot2_logo.png);
  background-size: 240px 277px;
}

.embed-right-icon img {
  float: right;
  z-index:;
  height: 100px;
  width: auto;
  margin-left: 15px;
}

/* Inline code and block code formatting */
.remark-inline-code{
  background: #E0E0E0;
  padding: 2px;
  color: #000000;
  border-radius: 3px;
}
  
.remark-code{
  border-radius: 10px;
}

/* Footer */
.footer {
  color: black;
  position: absolute;
  padding: 0px 64px 12px 64px;
  font-size: 0.9rem;
  color: #67676776;
  bottom: 0px;
  left: 0px;
  text-align: left;
  width: 100%;
  box-sizing: border-box; /* Make entire footer fit inside parent div */
}

.right-code {
  float: right;
  width: 47%;
}

.left-code-60h-80fs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
  width: 47%;
  height: 60%;
  font-size: 80%;
  
  code {
    font-size: calc(var(--code-font-size) * .80)
  }
}

h3 {
  margin-bottom: 0px;
}

.box {

}