<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <div class="navbar">
        <ul>
          <li id="home-btn"><a href="/r_workshop_2024/">Home</a></li>
          <li id="setup-btn">
            <a href="">Setup</a>
            <div id="setup-content">
              asdfasdfasdfasdfasdf
            </div>
          </li>
            
          <li id="workshops-btn"><a href="">Workshops</a></li>
        </ul>
      </div>
      <header>
        {% if site.logo %}
          <a href="{{ '/' | absolute_url }}"><img src="{{site.logo | relative_url}}" alt="Logo" /></a>
        {% endif %}
	
        <h3>University of Sydney</h3>
        <h4><i><span style="font-weight:normal">Brain and Mind Centre, Youth Mental Health and Technology Team</span></i></h4>
        <h4><i><span style="font-weight:normal">Spring, 2024</span></i></h4>

        <hr>
        
        <p> Instructor: {{ site.instructor }} </p>
        <p> Email: {{ site.email }} </p>

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
        
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>